
var options = {
    options: {
        debug: true
    },
    connection: {
        reconnect: true
    },
    twitch: {
        // Twitch user name:
        // https://www.twitch.tv/<user>
        //
        username: "<user>",
        // Twitch oauth token generated at https://twitchapps.com/tmi/
        //
        password: "oauth:<oauth>",
        // One or more channels to monitor chat. Most commonly the
        // same as the 'username'
        //
        channels: ["#<channel>"]
    },
    roll20: {
        username: "<user>",
        password: "<password">,
        // The Roll20 ID may be found in the URL of your game:
        // https://app.roll20.net/campaigns/details/<roll20 id>/torchbearer
        campaign: "<roll20 id>"
    },
    dndbeyond: {
        // In browser, visit a character page with Chrome DevTools open. Next, right click
        // on request in the "Network" tab, then Copy -> Copy as curl. Paste somewhere and
        // copy just the "cookie" Header content here. This may have to be periodically updated
        // to keep valid.
        cookie: "<cookie>"
    },
    viewers: [
        // First in list is considered an admin in special cases
        {
            name: "<twitch user>",
            role: "<master|player|chat>"
        },
        // Remainder of list is to give privileges in some cases
        {
            name: "<twitch user>",
            role: "<master|player|chat>"
        }
    ]
};

// Required for external reference, do not change
//
module.exports.config = config;
