
export const config = {
    options: {
        // May be either "foundryvtt" or "roll20"
        platform: "roll20",
        debug: true
    },
    connection: {
        reconnect: true
    },
    foundryvtt: {
        // Server URL including port
        server: "http://192.168.1.49:30000",
        // Game world name
        world: "faerun",
        // User name id
        username: "k8tiJH3DebQpPpJN",
        // User password
        password: "foundry",
        // Folder under 'public' for saving images (folder must exist)
        images: "~/.local/share/FoundryVTT/Data/images/twitch",
        // File to write play logs (folder containg file must exist)
        logfile: "twitch.log",
        // Player to set as owner of all tokens
        token_owner: "PintAndPie"
    },
    twitch: {
        // Twitch user name:
        // https://www.twitch.tv/<user>
        //
        username: "<user>",

        // Twitch oauth token generated at https://twitchapps.com/tmi/
        //
        password: "oauth:<oauth>",

        // One or more channels to monitor chat. Most commonly the
        // same as the 'username'
        //
        channels: ["<channel>"],

        // Chat bot command prefix (eg. !fvtt or !X)
        command: "!fvtt",

        // Twitch oauth token generated at https://twitchapps.com/tmi/
        // The OAuth access_token is retrieved at startup
        // Twitch client at https://dev.twitch.tv/console/apps
        //
        // To get 'code' visit
        //     "https://id.twitch.tv/oauth2/authorize" +
        //     "?client_id=" + config.twitch.clientid +
        //     "&redirect_uri=http://localhost" +
        //     "&response_type=code" +
        //     "&scope=chat:read+chat:edit"
        // and watch redirect response.
        //
        password: "oauth:i3y...0ud",    // PlayByChat
        clientid: "scr...ym2",
        clientsecret: "h1f...two",
        channel: {
            code: "yt1...api",
            "access_token": "256...4u5",
            "refresh_token": "jfw...gj2",
            "expires_in": 1591836993113
        },
        bot: {
            code: "npm...1t5",
            "access_token": "ye9...f0o",
            "refresh_token": "qli...5i1",
            "expires_in": 1591849496736
        }
    },
    dndbeyond: {
        // In browser, visit a character page with Chrome DevTools open. Next, right click
        // on request in the "Network" tab, then Copy -> Copy as curl. Paste somewhere and
        // copy just the "cookie" Header content here. This may have to be periodically updated
        // to keep valid.
        cookie: "<cookie>",

        // Character ID of campaign owner. Used to fetch json which has campaign information.
        character: 12345,

        // Join link from campaign page
        campaign: "https://ddb.ac/campaigns/join/12345678"
    },
    viewers: [
        // First in list is considered an admin in special cases
        {
            name: "<twitch user>",
            role: "<master|player|chat>"
        },
        // Remainder of list is to give privileges in some cases
        {
            name: "<twitch user>",
            role: "<master|player|chat>"
        }
    ]
};
