module.exports = {
    viewers: [
        {
            name: "PintAndPie",
            role: "master"
        },
        {
            name: "PintAndPie",
            role: "player"
        }
    ]
};
